<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisstudy.mapper.RoleMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />

    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache" />-->
    <!--<cache type="org.mybatis.caches.redis.RedisCache" />-->
    <resultMap id="roleMap" type="com.example.mybatisstudy.model.SysRole" >
        <id property="id" column="id" />
        <result property="roleName" column="role_name" />
        <result property="enabled" column="enabled" />
        <association property="createInfo" javaType="com.example.mybatisstudy.model.CreateInfo">
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <resultMap id="rolePrivilegeListMap" type="com.example.mybatisstudy.model.SysRole" extends="roleMap">
        <collection property="privilegeList" columnPrefix="privilege_"
                    resultMap="com.example.mybatisstudy.mapper.PrivilegeMapper.privilegeMap" />
    </resultMap>
    <select id="selectRoleById" resultMap="roleMap">
        SELECT * FROM sys_role WHERE id = #{id}
    </select>
    
    <select id="selectAllRoleAndPrivileges" resultMap="rolePrivilegeListMap">
        SELECT
          r.id,
          r.role_name,
          r.enabled,
          r.create_by,
          r.create_time,
          p.id, privilege_id,
          p.privilege_name privilege_privilege_name,
          p.privilege_url privilege_url
        FROM sys_role r
        INNER JOIN sys_role_privilege rp ON rp.role_id = r.id
        INNER JOIN sys_privilege p ON p.id = rp.privilege_id
    </select>

    <resultMap id="rolePrivilegeListMapSelect" extends="roleMap"
               type="com.example.mybatisstudy.model.SysRole">
        <collection property="privilegeList"
                    fetchType="lazy" column="{roleId = id}"
                    select="com.example.mybatisstudy.mapper.PrivilegeMapper.selectPrivilegeByRoleId" />
    </resultMap>

    <select id="selectRoleByUserId" resultMap="rolePrivilegeListMapSelect">
        select
          r.id,
          r.role_name,
          r.enabled,
          r.create_by,
          r.create_time
        FROM sys_role r
        INNER JOIN sys_user_role ur ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
    </select>

    <resultMap id="rolePrivilegeListMapChoose" type="com.example.mybatisstudy.model.SysRole">
        <discriminator javaType="int" column="enabled">
            <case value="1" resultMap="rolePrivilegeListMapSelect" />
            <case value="0" resultMap="roleMap" />
        </discriminator>
    </resultMap>

    <select id="selectRoleByUserIdChoose" resultMap="rolePrivilegeListMapChoose">
        select
            r.id,
            r.role_name,
            r.enabled,
            r.create_time,
            r.create_by,
            r.create_time
        FROM sys_role r
        INNER JOIN sys_user_role ur ON ur.role_id = r.id
        WHERE ur.role_id = #{userId}
    </select>



</mapper>