<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <insert id="saveUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user(name, sex, age) values(#{name}, #{sex}, #{age})
    </insert>
    <select id="selectUser" parameterType="int" resultType="user">
        select * from tb_user where id = #{id}
    </select>
    <update id="modifyUser" parameterType="user">
        update tb_user set name = #{name}, sex = #{sex}, age = #{age} where id = #{id}
    </update>
    <delete id="removeUser" parameterType="int">
        delete from tb_user where id = #{id}
    </delete>
    <select id="selectAllUser" resultType="map">
      select * from tb_user
    </select>
    <!-- id标识该resultMap -->
    <resultMap id="userResultMap" type="user">
        <!-- id是该数据表的主键 , property是属性， column是该数据表的列名-->
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
    </resultMap>
    <select id="selectAllUser2" resultMap="userResultMap">
        select * from tb_user
    </select>
    
    <resultMap id="studentResultMap" type="com.example.testmybaits.Student">
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <!-- 关联映射 -->
        <association property="clazz" column="class_id"
            javaType="com.example.testmybaits.Clazz"
            select="selectClazzWithId"/>
    </resultMap>
    <select id="selectClazzWithId" resultType="com.example.testmybaits.Clazz">
        select * from tb_class where id = #{id}
    </select>
    <select id="selectStudent" resultMap="studentResultMap">
        select * from tb_student
    </select>
    <resultMap id="clazzResultMap" type="com.example.testmybaits.Clazz">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <collection property="students" column="id" javaType="ArrayList"
                    ofType="com.example.testmybaits.Student" 
                    select="selectStudentWithId"/>
    </resultMap> 
    <select id="selectStudentWithId" resultMap="studentResultMap" >
        select * from tb_student where id = #{id}
    </select>
    <select id="selectClazz" resultMap="clazzResultMap">
        select * from tb_class
    </select>
</mapper>